<?xml version="1.0" encoding="UTF-8"?>
	<Configuration status="WARN">
	    <Appenders>
	        <Console name="CONSOLE" target="SYSTEM_OUT">
	            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36}.%M - %msg%n" />
	        </Console>
			<RollingFile name="RollingFile" fileName="logs/test.log"
				filePattern="logs/test.log" append="false">
				<PatternLayout pattern="%d{HH:mm:ss} [DESTAQUE]%msg[/DESTAQUE] (%logger{36}.%M)%n"/>
				<Policies>
				</Policies>
			</RollingFile>
	    </Appenders>
	    <Loggers>
	        <!-- Logs que nao devem ser impressos referente a lib browsermob-proxy -->
	        <Logger name="io.netty" level="OFF"/>
	        <Logger name="org.littleshoot" level="OFF"/>
	        <Logger name="org.apache" level="OFF"/>
	        <Logger name="net.lightbody" level="OFF"/>
	        <Logger name="net.sf" level="OFF"/>
	        <!-- ================================================================= -->
	    	<Root level="ALL">
	            <AppenderRef ref="CONSOLE" />
	            <AppenderRef ref="RollingFile"/>
	        </Root>
	    </Loggers>
</Configuration>